<!DOCTYPE html>
<html ng-app="sb">
<head>
    <meta charset="UTF-8">
    <title>ScribeBorg</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="styles.css">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js" ></script>
    <script type="text/javascript" src="js/sjs-opt.js"></script>
    <script src="src-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="sjsLoader.js" type="text/javascript" charset="utf-8"></script>

    <style type="text/css" media="screen">
        body {
            overflow: hidden;
        }

        #editor {
            margin: 0;
            height: 100%;
        }
    </style>

</head>
<body ng-controller="SbController as sb" >

<div class="container-fluid wrapper">

    SCRIBEBORG
    <div class="row-fluid columns content">
                <pre id="editor" class="span12 content-area"></pre>
    </div>

    <div class="footer">
        <section class="tab">
            <ul class="nav nav-pills">
                <li ng-class="{active: sb.isSelected('ca')}"> <a href ng-click="sb.select('ca')">Català</a></li>
                <li ng-class="{active: sb.isSelected('en')}"> <a href ng-click="sb.select('en')">English</a></li>
                <li ng-class="{active: sb.isSelected('es')}"> <a href ng-click="sb.select('es')">Español</a></li>
                <li ng-class="{active: sb.isSelected('zh')}"> <a href ng-click="sb.select('zh')">简化字</a></li>
            </ul>
        </section>

        {{sb.translated}}
    </div>
</div>

</body>
</html>
