html, body {
    height: 100%;
}
.container-fluid {
    margin: 0 auto;
    height: 100%;
    padding-top: 10px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 100px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color:#EEEEFF;
}

.columns {
    height: 100%;
}

.content-area, .article-tree{
    overflow:auto;
    height: 100%;
}

.footer {
    background-color:white;
    height: 100px;
}